# To access your Clerk keys, first create a clerk.com account then open dashboard.clerk.com. Create a new Clerk application and copy the Keys from step 2 in the Next.js quickstart tab.
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

# AI Related Configurations

# Get your DeepSeek API Key here: https://www.volcengine.com/experience/ark?utm_term=202502dsinvite&ac=DSASUQY5&rc=S5JCRGKP
OPENAI_COMPLETIONS_BASE_URL=****
OPENAI_COMPLETIONS_API_KEY=****

OPENAI_COMPLETIONS_MODEL_SMALL=****
OPENAI_COMPLETIONS_MODEL_LARGE=****
OPENAI_COMPLETIONS_MODEL_REASONING=****
OPENAI_COMPLETIONS_MODEL_FUNCTION=****

# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****
